.container {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  float: left;
}

.ml {
  margin-left: 10px;
}

.vat {
  vertical-align: top;
}

h1, h2 {
  margin: 0;
}
