.game {
  width: 800px;
}

.gameCanvas {
  background-color: #ddd;
  float: left;
  margin-right: 10px;
  cursor: pointer;
}

.sidebar {
  overflow: hidden;
}

.moduleShop {
  margin-left: 1px;

  .module {
    width: 32px;
    height: 32px;
    background-color: #f5f5f5;
    border: 1px solid #777;
    text-align: center;
    line-height: 32px;
    margin-left: -1px;
    cursor: pointer;

    background-repeat: no-repeat;
    background-position: center;

    &.current {
      background-color: #e5e5ff;
      cursor: default;
    }

    &.gunner {
      background-image: url(#{$gfx-path}gunner.png);
    }

    &.launcher {
      background-image: url(#{$gfx-path}launcher.png);
    }

    &.repair {
      background-image: url(#{$gfx-path}repair.png);
    }

    &.bank {
      background-image: url(#{$gfx-path}bank.png);
    }

    &.wall {
      background-image: url(#{$gfx-path}wall.png);
    }
  }
}

.moduleDesc {
  height: 60px;
  vertical-align: top;
}

.cost {
  background-image: url(#{$gfx-path}coin.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 16px;
}
